@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }

  body {
    background-color: #000000;
  }

  ::selection {
    background-color: rgba(59, 130, 246, 0.3);
    color: #ffffff;
  }
}

